<nav class="bg-gray-800 text-white shadow-md">
  <div class="max-w-7xl mx-auto px-6">
    <div class="flex h-16 items-center justify-between">
      <!-- Logo -->
      <div class="flex items-center space-x-2">
        <a routerLink="/shop" class="text-xl font-semibold hover:text-gray-300 cursor-pointer">
          FreshCart
        </a>
      </div>

      <!-- Links -->
      <div class="flex space-x-6 items-center">

        <!-- Wenn NICHT eingeloggt -->
        <ng-container *ngIf="!isLoggedIn; else loggedIn">
          <a routerLink="/sign-in" class="hover:text-gray-300">Sign In</a>
          <a routerLink="/sign-up" class="hover:text-gray-300">Sign Up</a>
        </ng-container>

        <!-- Wenn eingeloggt -->
        <ng-template #loggedIn>

          <!-- USER view -->
          <ng-container *ngIf="isUser; else adminView">
            <a routerLink="/dashboard" class="hover:text-gray-300">Dashboard</a>

            <a routerLink="/cart" class="relative hover:text-gray-300 flex items-center">
              Cart
              <span
                *ngIf="cartCount() > 0"
                class="ml-2 inline-flex h-5 min-w-[20px] items-center justify-center rounded-full bg-indigo-500 px-1 text-xs font-semibold text-white"
              >
                {{ cartCount() }}
              </span>
            </a>

            <a routerLink="/checkout" class="hover:text-gray-300">Checkout</a>

            <span class="text-sm text-gray-300" *ngIf="user">
              {{ user.firstName }} {{ user.lastName }}
            </span>

            <button
              (click)="logout()"
              class="bg-red-500 px-3 py-1 rounded-md text-sm hover:bg-red-600"
            >
              Logout
            </button>
          </ng-container>

          <!-- ADMIN view (only logout) -->
          <ng-template #adminView>
            <button
              (click)="logout()"
              class="bg-red-500 px-3 py-1 rounded-md text-sm hover:bg-red-600"
            >
              Logout
            </button>
          </ng-template>

        </ng-template>
      </div>
    </div>
  </div>
</nav>
