# Node modules
node_modules/
pakage-lock.json

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
package-lock.json

# Environment variables
.env


# Editor folders
.vscode/
.idea/
.hintrc

# Python, if you use venv
venv/

# Docker local overrides (optional)
docker-compose.override.yml
