version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev   # for development (use Dockerfile.prod in production)
    container_name: freshcart-backend
    restart: unless-stopped
    ports:
      - "8080:5000"
    env_file:
      - .env
    depends_on:
      - mongo
      - postgres
    volumes:
      - .:/app
      - /app/node_modules

  mongo:
    image: mongo:6.0
    container_name: freshcart-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  postgres:
    image: postgres:15
    container_name: freshcart-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fresh-cart
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  mongo_data:
  postgres_data:
