
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-gray-900">
      Anmelden
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-6">
      <!-- E-Mail -->
      <div>
        <label for="email" class="block text-sm font-medium text-gray-900">
          E-Mail-Adresse
        </label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="block w-full rounded-md border border-gray-300 px-3 py-2 text-gray-900 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
        <p *ngIf="f.email.touched && f.email.invalid" class="text-red-600 text-sm mt-1">
          Bitte gib eine gültige E-Mail-Adresse ein.
        </p>
      </div>

      <!-- Passwort -->
      <div>
        <label for="password" class="block text-sm font-medium text-gray-900">
          Passwort
        </label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="block w-full rounded-md border border-gray-300 px-3 py-2 text-gray-900 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
        <p *ngIf="f.password.touched && f.password.invalid" class="text-red-600 text-sm mt-1">
          Passwort ist erforderlich (mind. 6 Zeichen).
        </p>
      </div>

      <!-- Fehlermeldung vom Backend -->
      <div *ngIf="error" class="text-red-600 text-sm">
        {{ error }}
      </div>

      <!-- Button -->
      <div>
        <button
          type="submit"
          [disabled]="submitting"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-500 disabled:opacity-60"
        >
          {{ submitting ? 'Anmelden...' : 'Anmelden' }}
        </button>
      </div>
    </form>

    <p class="mt-4 text-center text-sm">
      Noch kein Konto?
      <a routerLink="/sign-up" class="font-medium text-indigo-600 hover:text-indigo-500">
        Registrieren
      </a>
    </p>
    <p class="mt-6 text-center text-sm text-gray-500">
         Just want to browse?
    </p>

    <div class="mt-2">
      <a
        routerLink="/shop"
        class="flex w-full justify-center rounded-md border border-gray-300 px-3 py-1.5 text-sm font-semibold text-gray-700 bg-white hover:bg-gray-50"
      >
        Continue as guest
      </a>
    </div>


  </div>
</div>
